option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Voter_API/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static": "static/"
container_commands:
   01_collectstatic:
      command: "python manage.py collectstatic --noinput"
      leader_only: true
commands:
  WSGIPassAuthorization:
    command: sed -i.bak '/WSGIScriptAlias/ a WSGIPassAuthorization On' config.py
    cwd: /opt/elasticbeanstalk/hooks
Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
